{% extends 'myportfolio_app/base.html'%}
{% load static %}

{% block content %}
<div class="container">
     <div class="jumbotron" style='text-align:center;background-color:lightblue;'>
        <h1> Thanks for contacting me </h1>
     </div>
</div>




  {% endblock %}







{% comment %}
<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>Thankyou Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>



	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	</head>
	<body>

    <nav class = "navbar navbar-default navbar-static-top">
      <div class="container">
          <ul class = 'nav navbar-nav'>
              <li><a  href="{% url 'index' %}" class = 'navbar-brand'>Peter Modo</a></li>
          </ul>
      </div>
    </nav>

       <div class="container">
            <div class="jumbotron" style='text-align:center;'>
               <h1> Thanks for contacting us </h1>
            </div>
       </div>


	</body>
</html>
{% endcomment %}
